# No object, archive, executable or mod files
*.[oa]
*.x
*.mod

# Ignore files only used by me (debug, etc)
*unbuild_BandUP.sh
*debug*
*profiling*
*back*
*test*

# Folders that will be created by compiling
src/external/claf90/
src/external/spglib-1.5.2/
src/external/espresso-5.1_modules_for_BandUP/
BandUP_bin/

# Ignore vim temporary files
*swp

# Ignore doxygen configuration file
*Doxyfile*

# Do not track documentation (just for now)
*doc*

# Do not track aux files
*.aux


